<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="public/trainer.css" type="text/css">
    </head>
    <body>
        <h1 class='Names'><%=`${trainer.first} ${trainer.last}'s`%> Profile page</h1>
        <img src="<%=trainer.img%>">
        <form action="/trainers/<%=trainer.id%>?_method=PUT" method="POST"> <!-- changed from 'index' to 'trainer.id' -->
            First Name: <input type="text" name="first" value=<%=trainer.first%> /><br> <br>
            Last Name: <input type="text" name="last" value=<%=trainer.last%> /><br> <br>
            address: <input type="text" name="address" value=<%=trainer.address%> /><br> <br>
            city: <input type="text" name="city" value=<%=trainer.city%> /><br> <br>
            state: <input type="text" name="state" value=<%=trainer.state%> /><br> <br>
            zip: <input type="text" name="zip" value=<%=trainer.zip%> /><br> <br>
            cell phone: <input type="text" name="cell" value=<%=trainer.cell%> /><br> <br>
            age: <input type="text" name="age" value=<%=trainer.age%> /><br> <br>
            skill level: <input type="text" name="skillLevel" value=<%=trainer.skillLevel%> /><br> <br>
            Username: <input type="text" name="username" value=<%=trainer.username%> /> <br> <br>
            Password: <input type="text" name="password" value=<%=trainer.password%> /><br> <br>
            <br /><br />
            <input type="submit" value="Edit Profile" />
        </form>


        <!-- <a href="/horses/new">New</a>below added by bil -->
        <h3>Horses added by you:</h3>

    
        <br><br>
    </body>
</html>    