<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/trainer.css">

    </head>
    <body>
        <h1>Trainer:    <%=`${trainer.first} ${trainer.last}'s`%></h1>
        <h2>Horse Trainer Profile</h2>
        <img type= "image" src="<%=trainer.img%>">  
        <form class="inputForm" action="/trainers/<%=trainer.id%>?_method=PUT" method="POST"> <!-- changed from 'index' to 'trainer.id' -->
              
            
            First Name: <input class="box" type="text" name="first" value=<%=trainer.first%> /><br> <br>
            Last Name: <input class="box" type="text" name="last" value=<%=trainer.last%> /><br> <br>
            address: <input class="box" type="text" name="address" value=<%=trainer.address%> /><br> <br>
            city: <input class="box" type="text" name="city" value=<%=trainer.city%> /><br> <br>
            state: <input class="box" type="text" name="state" value=<%=trainer.state%> /><br> <br>
            zip: <input class="box" type="text" name="zip" value=<%=trainer.zip%> /><br> <br>
            cell phone: <input class="box" type="text" name="cell" value=<%=trainer.cell%> /><br> <br>
            age: <input class="box" type="text" name="age" value=<%=trainer.age%> /><br> <br>
            skill level: <input class="box" type="text" name="skillLevel" value=<%=trainer.skillLevel%> /><br> <br>
            Username: <input class="box" type="text" name="username" value=<%=trainer.username%> /> <br> <br>
            image link: <input class="box" type="text"name="img" value=<%=trainer.img%> />
        <br /><br />
        Add Horse: <select name = "horse">
                <% for (let i = 0; i < horse.length; i++) { %> 
                    <option value = "<%= horse[i].id %>"><%= horse[i].name %></option>
                <% } %>
            </select>
        <br /><br />
            <input type="submit" value="Edit Profile" />
        <action="/trainers/<%=trainer.id%>?_method=DELETE" method="POST">
            <input type="submit" value="Delete Trainer" /><br /><br />
        </form>

        <!-- <a href="/horses/new">New</a>below added by bil -->
        <h3>Horses added by you:</h3>
        <% for (let i = 0; i<trainer.Horses.length; i++) { %>
            <li>
                <%= trainer.Horses[i].name %>
            </li>
        <% } %>
    
        <br><br>
        <a href="/horses"> View all Horses</a>
    </body>
</html>    